/**
 * 
 */
package org.tsho.dmc2;

/**
 * @author antonio
 *
 * This class manages application versioning
 */
public class Version {
	private static String versionString= versionAnchor ;
	
	public static String getVersionString() {
		return versionString;
	}
}
